<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>系统首页</title>
</head>
<body>
<h1 align="center">系统首页</h1>
<a href="/user/query" sec:authorize="hasAuthority('user:query')">查询用户</a>
<br>
<a href="/user/add" sec:authorize="hasAuthority('user:add')">添加用户</a>
<br>
<a href="/user/update" sec:authorize="hasAuthority('user:update')">更新用户</a>
<br>
<a href="/user/delete" sec:authorize="hasAuthority('user:delete')">删除用户</a>
<br>
<a href="/user/export" sec:authorize="hasAuthority('user:export')">导出用户</a>
<br>
<br><br><br>
<h2><a href="/logout">退出</a></h2>
<br>
</body>
</html>